# IDE
/.idea/
/.vs/
/.vscode/
/out/

# Build
/build/
/build-*/
/cmake-build-*/
/vcpkg_installed/
CMakeUserPresets.json
*.exe
*.bin
*.pdb
*.ilk
*.manifest
*.dll
*.log
*.cache

# Local junk
*.ini
*.zip
/de_dust2-cs-map
/libraries
/blender
